.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  height: 300px;
  padding: 30px;
}
.filter_blur:hover {
  filter: blur(3px);
}
.filter_brightness:hover {
  filter: brightness(40%);
}
.filter_contrast:hover {
  filter: contrast(10%);
}
.filter_grayscale:hover {
  filter: grayscale(0.75);
}
.filter_saturate:hover {
  filter: saturate(300%);
}
.filter_sepia:hover {
  filter: sepia(100%);
}
.filer_hue-rotate:hover {
  filter: hue-rotate(270deg);
}
.filter_invert:hover {
  filter: invert(100%);
}
.filter_opacity:hover {
  filter: opacity(50%);
}
