tr,
th,
td {
  border-radius: 5px;
  width: 120px;
  padding: 15px;
}
thead tr {
  background: linear-gradient(to top, #8af004, #6ab623);
  color: white;
}
th:nth-child(1) {
  background: linear-gradient(45deg, #8af004, #6ab623);
  color: white;
}
tr {
  background-color: #c4eda4;
}
table {
  border-collapse: separate;
  empty-cells: hide;
  border-spacing: 4px;
}
